body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
}
h1{
    font-size: 50px;
    margin: 0px;  
}
.coloring-text{
    color:rgb(253, 135, 0);
}
.first-section{
    margin:0px 65px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 70%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.left-border{
    
    border-left: 6px solid rgb(255, 123, 0);
    padding:-50px 50px;
    padding-left: 40px;
    
}
.button{
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
}
#first-div{
    padding: 60px 20px 10px 0px;
}

.second-section{
   padding-top: 20px;
    margin:0px 65px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}
#myvission{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.mission{
    box-shadow: 2px 2px 10px gray;
    padding: 15px;
    width: 50%;
    margin: 10px;
    border-radius: 20px;
}
.mission img{
    width: 35%;
}
#box1{
    background-color: rgba(2, 218, 247, 0.253);
}
#box2{
    background-color: rgba(233, 105, 207, 0.199);
}
#box3{
    background-color: rgba(255, 158, 47, 0.315);
}
.documents-area{
    width: 50%;
    padding: 15px;
    margin: 5%;
}
.documents-area img{
    width: 70%;
}
.third-section{
    margin:0px 65px;
    
}
  
.fourth-section{
margin:0px 65px;

}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0px;

}
.fifth-section{
    margin:0px 65px;
}
.form{
    padding: 5%;
}
button{
    background-color: green;
    color: white;
    font-size: 28;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;

}
#form-header{
    text-align: center;
    font-size: 35px;
}
